<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UsbDir" value="/media/vladimir/aaea4d95-5934-456e-b843-eaaee125cb54/"/>
    <!--add key="UsbDir" value="/mnt/vend_pay/"/-->
    <add key="ReportArchives" value="/home/vladimir/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>