BinProtocol/obj/
cctalkLib/obj/
ServerCashless/bin/
ServerCashless/obj/
Server/obj/
ServerTest/bin/
ServerTest/obj/
CardRegistrator/bin/
CardRegistrator/obj/
Common/bin/
Common/obj/
CshlServer/bin/
CshlServer/obj/
UserManager/bin/
UserManager/obj/
Server/bin/
DbApiTests/obj/
TestResults/
DbApiTests/bin/Debug/System.Data.SQLite.xml
DbApiTests/bin/Debug/unit_test.db
Communication/obj/
